<div class="wrapper">
  <h1 class="title">Password Generator</h1>

  <input [(ngModel)]="password" type="text" readonly class="password" />

  <div class="pass-options">
    <div class="char-length">
      <span>Character Length</span>
      <span class="char">{{ charLength }}</span>
    </div>

    <mat-slider
      min="6"
      max="25"
      step="1"
      value="6"
      (change)="characterValue($event)"
    >
      <input matSliderThumb />
    </mat-slider>

    <div class="checkboxes">
      <div class="checkbox-input">
        <label class="container"
          >Include Uppercase Letters
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="uppercase"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="checkbox-input">
        <label class="container"
          >Include Lowercase Letters
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="lowercase"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="checkbox-input">
        <label class="container"
          >Include Numbers
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="numbers"
          />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="checkbox-input">
        <label class="container"
          >Include Symbols
          <input
            type="checkbox"
            (change)="checkboxCheck($event)"
            value="symbols"
          />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="pass-strength"></div>

    <button (click)="generatePassword(charLength)">Generate</button>
  </div>
</div>
